{% extends "layout.html" %}
{% block content %}
<div class="jumbo">
  <h2>Welcome to the Big News</h2>
  <h3>Here are your personal analytics...</h3>
</div>

<h3>Reading time...</h3>

{%  for time in times %}
<div>
	<p>{{ time.date }}: {{time.mins }} minutes<p>
</div>
{% endfor %}
<h3>Topic...</h3>

{%  for item in category %}
<div>
	<p>{{ item.category }}: {{item.times }}<p>
</div>
{% endfor %}
<h3>Reading History...</h3>

<!-- {%  for item in history %}
<div>
	<p>category: {{ item.category }}<p>
  <p> {{item.url }}</p>
  <p> {{item.mins }} minutes</p>
  <hr>
</div>
{% endfor %}  -->


{% endblock %}
