{% extends "layout.html" %}
{% block content %}
<div class="jumbo">
  <h2>Welcome to the Big News</h2>
  {% if hot_words %}
    <h3>Trending topics</h3>
      <div id="trending" class="container">
        {% for word in hot_words %}
          {% if loop.index0 % 4 == 0 %} <div class="row"> {% endif %}
          <div class="col-md-3 trending-word">{{ word }}</div>
          {% if loop.index0 % 4 == 3 %} </div> {% endif %}
        {% endfor %}
    </div>
  {% endif %}

  <h3>Or search for new articles...</h3>
    <form id="search-form" action="/search" method="POST" role="form" style="display: block;">
      
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <input type="text" name="keyword" id="keyword" class="form-control" placeholder="Please Input Keyword..." value="">
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form-group">
            <input type="text" name="sources" id="sources" class="form-control" placeholder="Please Input Sources...(optional)" value="">
          </div>
      </div>
    </div>

    <div class="form-group">
      <center><button id="submit-btn" class="btn btn-outline-primary" type="submit">
        Search
      </button></center>
    </div>
  </form>
</div>




<div class="card-columns">
{% for article in articles %}
  {% if article.title %}
    <a class="card" href= '{{ article.source }}{{ article.url }}' >
      {% if article.topImage %} <img class="card-img-top" src='{{ article.topImage }}'> {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        {% if article.time %} 
        <p class="card-text">{{ article.time }} mins</p> 
        {% endif%}
      </div>
    </a>
  {% endif %}
{% endfor %}
</div>

<script>
$("a.card").click(function() { // or $("input#<input id, if it has one>")...
  var href = $(this).attr('href');
  console.log(href);
  // $.ajax({
  //   type: 'POST',
  //   url: '/add-history',
  //   datatype:'json',
  //   data: {'url': href}
  // });
  $.post('/add-history', {'url': href});
});
</script>

{% endblock %}
